{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            function addPoints() {
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_points" %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#points').text(response.points);
                    },
                    error: function(response) {
                        console.log('Error:', response);
                    }
                });
            }

            {% if user.profile.miners > 0 %}
                setInterval(addPoints, 1000);
            {% endif %}

            $('#earnPointsImage').click(function() {
                var image = $(this);
                image.addClass('clicked');
                $.ajax({
                    url: "{% url 'add_points' %}",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#points').text(response.points);
                        image.removeClass('clicked');
                    },
                    error: function(response) {
                        console.log(response);
                        image.removeClass('clicked');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="profile-info">
        <h2>Welcome, {{ user.username }}</h2>
        <p>Points: <span id="points">{{ user.profile.points }}</span></p>
    </div>
    <center>
        <img src="{% static 'main/img/btc.png' %}" id="earnPointsImage" alt="Click to earn points" class="clickable-image">
        <button onclick="window.location.href='{% url 'profile' %}'">Go to Profile</button>
        <button onclick="window.location.href='{% url 'gamble' %}'">Go to Gamble</button>
    </center>
</body>
</html>
